<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>DriveTrainingSystem</display-name>

  <!-- 1. 编码过滤器 EncodingFilter -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>common.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 2. 权限过滤器 AuthFilter -->
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>common.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 默认首页 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>pages/home.html</welcome-file>
  </welcome-file-list>

</web-app>
